.container-detail-video{
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    min-width: 300px;
    .selected-video{
        
        max-height: 100%;
        .video{
            
            
        }
    }
}